@import '../base/variables';
@import '../header/checkout';
@import '../footer/checkout';
@import '../components/process/steps';
@import '../components/modals/modals';
@import '../components/bookingbox';
@import '../components/loader';

main{
    > div.container{
        align-items: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 15px;
        height: 100%;
        max-width: 1280px;
        > div.vehicles-items{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-column-gap: 25px;
            grid-row-gap: 25px;
            margin-top: 25px;
            > div{
                border-radius: 10px;
                border: 1px solid #c5c5c5;
                box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                background-color: white;
                > div.one{
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    padding: 15px;
                    min-height: 400px;
                    > h2{
                        font-size: 12pt;
                    }
                    > img{
                        width: 100%;
                        height: auto;
                        max-width: 250px;
                        margin: 0 auto;
                    }
                    > div{
                        display: flex;
                        gap: 15px;
                        > div{
                            font-size: 9pt;
                            padding: 15px;
                            font-weight: bold;
                            border-radius: 5px;
                            display: flex;
                            align-items: center;
                        }
                        > *:nth-child(1){
                            background-color: #edfdf3;
                            color: #2f6339;                            
                        }
                        > *:nth-child(2){
                            background-color: #edf5ff;
                            color: #003fb8;
                        }
                        > *:nth-child(3){
                            background-color: #297da9;
                            color: white;
                        }
                    }
                    > ul{
                        margin: 0px;
                        padding: 0px;
                        list-style: none;
                        display: flex;
                        flex-direction: column;
                        gap: 8px;
                        > li{
                            font-size: 11pt;
                            display: grid;
                            grid-template-columns: 15px 1fr;
                            grid-column-gap: 8px;
                            &::before{
                                content: '';
                                width: 15px;
                                height: 15px;
                                background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="%2328a745" d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z"/></svg>');
                                background-repeat: no-repeat;
                                align-self: flex-start;
                            }
                        }
                    }
                }
                > div.two{
                    > h3{
                        font-size: 18pt;
                        padding: 15px;
                        border-top: 1px solid #e5ebf2;
                        > sup{
                            font-size: 11pt !important;
                            text-decoration: line-through;
                            color: #dc3545;
                        }
                    }
                    button{
                        width: 100%;
                        padding: 15px;
                        background-color: #297da9;
                        border: 1px solid #297da9;
                        cursor: pointer;
                        font-size: 14pt;
                        color: white;
                        font-weight: bold;
                        border-radius: 0px 0px 5px 5px;
                        transition: all .3s;
                        &:hover{
                            background-color: #507ddd;
                        }
                    }
                }
                &.active{
                    border: 3px solid #00ce7c;
                    > div.two{
                        button{
                            background-color: #00ce7c;
                            border: 1px solid  #00ce7c;
                        }
                    }
                }
            }
            @media (max-width: 991px) {
                grid-template-columns: 1fr 1fr;
            }
            @media (max-width: 767px) {
                grid-template-columns: 1fr;
            }
        }

        > div.not-found-message{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 50px;
            margin-bottom: 50px;
            gap: 15px;
            > div.bottom{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 15px;
                > p{
                    font-size: 16pt;
                    color: #16161D;
                    a{
                        color: #16161D;
                        text-decoration: none;
                    }
                }
                > *:nth-child(2){
                    font-weight: bold;                    
                }                
            }
        }

        > div.search-items{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 15px;
            margin-top: 15px;
            > button{
                background-color: $two;
                padding: 15px 25px;
                cursor: pointer;
            }
        }
    }

    > div.higlights-items{        
        background-color: white;
        box-shadow: 0px 0px 50px -35px rgba(0, 0, 0, 0.4);
        margin-top: 100px;
        padding-top: 35px;
        padding-bottom: 35px;
        > div.container{
            max-width: 1280px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-column-gap: 25px;
            grid-row-gap: 25px;
            > div{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 8px;
                > h2{
                    font-size: 13pt;
                }
            }
            @media (max-width: 991px) {
                grid-template-columns: 1fr 1fr;
            }
            @media (max-width: 550px) {
                grid-template-columns: 1fr;
            }
        }
    }
      
}

div.ldcv{
    > div.base{
        > div.inner{
            > div.card-body{
                > button{
                    position: absolute;
                    right: 25px;
                    top: 5px;
                    background-color: #000403;
                    color: white;
                    border: 1px solid #000403;
                    font-size: 11pt;
                    padding: 5px 12px;
                    cursor: pointer;
                    border-radius: 5px;
                    display: flex;
                    > svg{
                        fill: white;
                        width: 15px;
                        height: 15px;                        
                    }
                }
                > form{
                    width: auto;
                    padding-bottom: 0px;
                    padding-top: 30px;
                }
            }
        }
    }
}