div.faq-items{
    display: flex;
    flex-direction: column;
    gap: 15px;
    > div{
        display: flex;
        flex-direction: column;        
        > h3{
            align-items: center;
            background-color: #fff;
            border-radius: 5px 5px 0px 0px;
            cursor: pointer;
            display: flex;
            gap: 15px;
            justify-content: space-between;
            padding: 15px;
            font-size: 12pt;
            border: 1px solid #CCD6EB;
            &::after{
                content: "+";
            }
        }
        > div{            
            border-radius: 0px 0px 8px 8px;            
            border: 1px solid #CCD6EB;
            border-top: 0px;
            padding: 15px;
            display: flex;
            flex-direction: column;
            gap: 8px;
            > ul, > ol{
                display: flex;
                flex-direction: column;
                gap: 8px;
                li{
                    font-size: 11pt;
                    line-height: 1.5;
                }
            }
            > h4{
                font-size: 12pt;
            }
        }
        &.hidden{
            > div{
                display: none;                    
            }
            > h3{
                border-radius: 5px;
                &::after{
                    content: "-";
                }
            }
        }
    }        
}