@import "./grid_system";
@import "./normalize";
@import "./variables";

*{
    box-sizing: border-box;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    margin: 0;
    background: white;
    color: #606d7a;
    scroll-behavior: smooth;
    font-family: sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    min-width: 320px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

main {
    flex: 1;
}

p{
    margin: 0px;
    line-height: 1.5;
    font-size: 11pt;
}
h1, h2, h3, h4, h5, h6{
    color: #232323;
    font-family: inherit;
    font-weight: 700;
    line-height: 1.2;
    margin: 0px;    
}

h1{
    font-size: 40px;
    font-weight: 900;
    @media (min-width: 768px) {
        font-size: 60px;
    }
    @media (min-width: 1200px) {
        font-size: 56px;
    }
}
h2{
    font-size: 25pt;
    @media (min-width: 768px) {
        font-size: 20pt;
    }
    @media (min-width: 1200px) {
        font-size: 25pt;
    }
}
h3{
    font-size: 15pt;
    @media (min-width: 768px) {
        font-size: 15pt;
    }
    @media (min-width: 1200px) {
        font-size: 20pt;
    }
}
h4{
    font-size: 30px;
    @media (min-width: 1200px) {
        font-size: 34px;
    }
}
h5{
    font-size: 26px;
    @media (min-width: 1200px) {
        font-size: 30px;
    }
}
h6{
    font-size: 24px;
    @media (min-width: 1200px) {
        font-size: 26px;
    }
}

.btn{
    align-items: center;
    border: none;
    border-radius: 4px;
    color: #f5f8fb;
    display: inline-flex;
    font-size: 14px;
    font-weight: 500;
    justify-content: center;
    line-height: 1;
    min-height: 34px;
    min-width: 97px;
    outline: none;
    padding: 5px 10px;
    text-decoration: none;
    transition: all .3s;
    &:hover{
        transform: scale(1.02);
    }
}

img{
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.form-control{
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    overflow: visible;
    box-sizing: border-box;
}
a{
    color: #297da9;
    text-decoration: none;
}


.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    border-collapse: collapse;
    td, th{
        padding: 0.75rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }
    thead{
        th{
            vertical-align: bottom;
            border-bottom: 2px solid #dee2e6;
        }
    }
    &.table-striped{
        tbody tr:nth-of-type(odd) {
            background-color: rgba(0,0,0,.05);
        }
    }
    > caption{
        font-weight: bold;
        margin-bottom: 15px;
    }
}

.swiper-pagination-bullet-active{
    width: 25px !important;
    border-radius: 4px !important;
    background-color: #284FE3 !important;
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 25px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 3px solid $two;
    border-right-color: $one;
    animation: l2 1s infinite linear;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}
@keyframes l2 {to{transform: rotate(1turn)}}